/*Estilo general de la pagina*/
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(#111425, rgb(0, 12, 119));
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #111425;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, white, rgb(0, 12, 119)) 1;
}

header img {
    height: 60px;
}

header nav{
    display: flex;
    gap: 2em;
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 15px;
}

header nav a:hover {
    text-decoration: underline;
}

header div {
    display: flex;
    align-items: center;
    gap: 10px;
}

header button, #MainPrincipal button {
    border: 1px solid white;
    padding: 6px 12px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

header a:first-child button, #MainPrincipal button {
    background: linear-gradient(to right, rgba(0, 18, 179, 0.336), rgba(174, 187, 255, 0.308));
    color: white;
}

header a:nth-child(2) button {
    background: linear-gradient(to right, rgba(0, 7, 66, 0.336), rgba(174, 187, 255, 0.171));
    color: #ffffff;
}

header a:first-child button:hover,
#MainPrincipal button:hover,
header a:nth-child(2) button:hover {
    background: white;
    color: #000;
}


footer {
    background-color: #111425;
    text-align: center;
    padding: 15px;
    margin: 0;
}

footer img {
    height: 30px;
    margin-bottom: 10px;
}

footer div {
    margin-bottom: 10px;
}

footer a {
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    margin-top: 10px;
    font-size: 12px;
    color: #ffffff;
}

/*PAGINA PRINCIPAL (Index.php)*/
#MainPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin-top: 50px;
}

#MainPrincipal h1{
    color: white;
    font-size: 32px;
}

#MainPrincipal button {
    font-size: 19px; 
}

#ImagenJuegos{
    width: 90%;
    margin: 0;
}

#logoDN{
    width: 30%;
}

/*Main de register.php y login.php*/
.MainFormulario { 
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.MainFormulario > div {
    background-color: #e6e6e6;
    padding: 30px 40px;
    border-radius: 6px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.MainFormulario h1 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.MainFormulario form {
    display: flex;
    flex-direction: column;
    background-color: #ffffffc4;
    padding: 30px 40px;
    border-radius: 6px;
    max-width: 400px;
    width: 100%;
}

.titulo{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.MainFormulario form div{
    text-align: left;
    margin: 10px 0px 10px;
    display: flex;
    flex-direction: column;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
}


form input[type="submit"] {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    width: 100%;
}

form input[type="submit"]:hover {
    background-color: #333;
}

.MainFormulario a {
    font-size: 13px;
    color: #000;
    text-decoration: none;
}

.MainFormulario a:hover {
    text-decoration: underline;
}
